# PowerShell
*.ps1xml
*.psd1

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Test results
TestResults/
*.trx

# Logs
*.log
